"%dev":
  quarkus:
    flyway:
      migrate-at-start: true
quarkus:
  http:
    test-port: 0
    test-ssl-port: 0
  datasource:
    db-kind: postgresql
    username: ${DB_USER:app_greeting}
    password: ${DB_PASSWORD:app_greeting}
    jdbc:
      url: jdbc:postgresql://${DB_HOST:localhost:15432}/${DB_DATABASE:app_greeting}
      max-size: 8
      min-size: 2